* {
  box-sizing: border-box;
}

body {
  font-family: roboto;
}

header {
  background-color: #28527a;
}

header img {
  width: 3rem;
}

.auth {
  min-height: 100vh;
}

.main {
  background-color: #3b5670;
  padding: 5rem;
}

.logo {
  color: #fbeeac;
  font-weight: bold;
  font-size: 2rem;
}

.logo div {
  margin: 0 1rem;
}

.main .card {
  border: 12px solid #f4d160;
  border-radius: 32px;
  padding: 2rem 20%;
}

.card-title {
  font-size: 3rem;
  color: #28527a;
  font-weight: bold;
}

.btn {
  background: #f4d160;
  border-radius: 25px;
  color: #28527a;
  font-size: 1.5rem;
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  margin-top: 3rem;
}

.main form {
  height: 100%;
  margin: 3rem 0;
}

.form-group {
  margin-top: 2rem;
}

.form-control {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
}

.form-control:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #28527a;
  box-shadow: none;
}

.aside {
  background: url('../assets/images/pages/auth/background.png') no-repeat;
  background-size: cover;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
