html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/* Navbar */
.bg-dark {
  background-color: #28527A !important;
}

.navbar-brand {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #FBEEAC !important;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  color: #FBEEAC !important;
}

.nav-item {
  margin: 0rem 2rem;
}

.btn-secondary {
  padding: 0rem 2.5rem;
  margin: 0rem 2rem;
  color: black;
  background-color: #8AC4D0;
  font-weight: bolder;
  border-radius: 1rem;
}

.btn-secondary:hover {
  color: white;
  background-color: #487f8a;
}

/* Banner */
.banner {
  background-image: url("../assets/images/pages/home/Home_Yellow_Background.png");
  min-height: 50rem;
  background-size: cover;
  background-position: center;
  padding: 6rem 6rem;
}

.banner-title {
  font-weight: bold;
  font-size: 60px;
  text-align: left;
}

.banner-text {
  font-size: 26px;
  padding: 2rem 0rem;
  display: flex;
  text-align: left;
}

.btn-text {
  font-size: 26px;
  display: flex;
  text-align: left;
}

.left-part {
  padding: 2rem 10rem;
}

.chart-1 img {
  width: 30rem;
}

.btn-primary-1 {
  background-color: #28527A;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.btn-primary-1:hover {
  background-color: #537CD9;
}





/* Footer */
.sosmed {
  padding-top: 3rem;
  padding-bottom: 0.1rem;
}

.sosmed-text {
  font-weight: bold;
  font-size: large;
}

.fa img {
  width: 60px;
}

.fa-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  padding: 0.5rem 2.5rem;
}

.copyright {
  font-size: small;
}

@media all and (max-width: 575.98px) {
  .fa img {
    width: 30px;
  }

  .fa-text {
    padding: 0.5rem 0.1rem;
    font-size: 10px;
  }

  .copyright {
    font-size: 7px;
  }
}